.project-wrapper {
  max-width: 600px;
  height: auto;
  padding: 10px;
  display: flex;
  justify-content: center;
}
.project-container {
  max-width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.project-name {
  font-size: 1.3rem;
}

.project-img img {
  border-radius: 2rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project-info {
  width: 65%;
  text-align: center;
}
.project-link {
  width: 65%;
  display: flex;
  justify-content: space-between;
}
.link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  gap: 10px;
  background-color: var(--color-primary);
  border-radius: 8px;
  width: 130px;
  height: 40px;
}
.link:hover {
  background-color: var(--color-secondary);
}

/* ========================== SMALL  MEDIA ==========================  */
@media screen and (max-width: 600px) {
  .project-info {
    width: 85%;
  }
  .project-link {
    width: 85%;
  }
  .link {
    width: 110px;
  }
}
